<div class="grid-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        card 1 checkbox
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="example-container">
        <mat-form-field>
          <input matInput [(ngModel)]="user.username" placeholder="username">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="user.password" placeholder="password">
        </mat-form-field>

        <mat-checkbox>Check me!</mat-checkbox>

        <button mat-button (click)="update()">Click me!</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
