<table class="mat-table mat-elevation-z8">
  <thead>
  <tr class="mat-header-row">
    <th class="mat-header-cell"> id </th>
    <th class="mat-header-cell"> username </th>
    <th class="mat-header-cell"> password </th>
  </tr>
  </thead>
  <tbody>
  <tr class="mat-row" *ngFor="let user of dataSource" (click)="openDetail(user.id)">
    <td class="mat-cell"> {{user.id}} </td>
    <td class="mat-cell"> {{user.username}} </td>
    <td class="mat-cell"> {{user.password}} </td>
  </tr>
  </tbody>
</table>

<mat-paginator #paginator
   [length]="dataSource.length"
   [pageIndex]="0"
   [pageSize]="50"
   [pageSizeOptions]="[25, 50, 100, 250]">
</mat-paginator>
